[dD]ebug/
*.vcxproj.filters
*.vcxproj.user
*.ncrunchsolution
*.ncrunchsolution.user
*.suo
*.opensdf
*.sdf
/tty-config/tty-config
tty-send/tty-send
driver.VC.opendb
_NCrunch_driver/
*.o
*.o.d
*.cmd
*.symvers
*.order
*.ko
*.mod
*.mod.c
*.save
*.deb
*.tmp
package/debian/DEBIAN/control
*.swp
driver/debug.h
autobuild/boot/
autobuild/firmware/
autobuild/images/
autobuild/root/
/build/rpi/
/build/images/
/build/tools/
**/ipch/
