Package: [PACKAGENAME]
Version: 1.0
Essential: no
Architecture: all
Maintainer: Daniel Amesberger <daniel.amesberger@amescon.com>
Provides: [PACKAGENAME]
Description: Pilot Driver, use /proc/pilot/ filesystem to configure it
