Package: [PACKAGENAME]
Version: 1.3
Essential: no
Architecture: all
Maintainer: Martin Kramer <martin.kramer@amescon.com>
Provides: [PACKAGENAME]
Description: PiloT Driver, use /proc/pilot/ filesystem to configure it
